# Build
**/build/**/*
/dist/

# NPM
node_modules
package-lock.json
/.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_STORE

# Webstorm
.idea/
*.iml

# Atom
.save.cson

# VS Code
.vscode/*

# Jest and generic test utilities
/coverage/
/annotto-front/coverage/

# Cypress
/annotto-front/cypress/screenshots
/annotto-front/cypress/videos

# Istanbul
/.nyc_output/*

# SonarQube
/.scannerwork/*

# Local environment files
/.env*local

.data
storage/

junit.xml
